.square{
    background-color: #EEEED2;
    height: 70px;
    width: 70px;
}
.dad-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    /* overflow: hidden; */

}
.main-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* 1f = 1 fragment */
    height: 560px;
    /* 70px*8=560px */
    width: 560px;
    /* border: 2px solid black; */
    border-radius: 5px;
    overflow: hidden;
}
.files:nth-of-type(even) .square:nth-of-type(odd){
    background-color: #769656;
}
/* .file-a .square:nth-of-type(odd){
    background-color: #DDDDE2;

} */
.files:nth-of-type(odd) .square:nth-of-type(even){
    background-color: #769656 ;
}
img{
    width: 100%;
}